# Ignore virtual environments
venv/
# Ignore environment files
.env
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
# Ignore logs
*.log
# Ignore Git-related files
.git/
# Ignore Docker environment file
docker.env
